.table {
  margin-top: 32px;
  width: 100%;

  table {
    thead th {
      padding: 12px 8px;
      font-size: 10px;
      font-weight: 600;
    }

    tbody td {
      padding: 12px 8px;
    }
  }
}

.row {
  font-size: 12px;
}
