@import '../../../styles/config';

.datePicker {
  max-width: 10%;
  min-width: 134px;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left: 2px solid $lightgray-color;
  border-right: 2px solid $lightgray-color;
}

.date {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 420px) {
  .datePicker {
    min-width: 114px;
  }
}

@media (max-width: 320px) {
  .datePicker {
    min-width: 96px;
  }
}
