@import '../../styles/config';

.container {
  @include container;
  max-width: 1440px;
}

.header {
  padding-bottom: 8px;
  border-bottom: 1px solid $lightgray-color;
}

.heading {
  margin: 0;
  font-weight: 600;
  margin-bottom: 16px;
}

.infoMsg {
  width: 100%;
}

.tableContainer {
  position: relative;
  min-height: 120px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.table {
  margin-top: 32px;
  width: 100%;

  table {
    thead th {
      padding: 12px 8px;
      font-size: 10px;
      font-weight: 600;
    }

    tbody td {
      padding: 12px 8px;
    }
  }
}

.row {
  font-size: 12px;
}

.playerName {
  color: $table-row-border;
}

@media (max-width: 480px) {
  .container {
    padding: 20px 10px;
  }

  .infoMsg {
    padding: 10px;
  }
}
