$main-color: rgb(5, 28, 45);
$error-color: rgb(255, 204, 199);
$white-color: rgb(255, 255, 255);
$on-hover-white-color: rgba(255, 255, 255, 0.7);
$transparent-white-color: rgba(255, 255, 255, 0.3);
$lightgray-color: rgb(211, 211, 211);
$black-color: rgb(0, 0, 0);
$border-shadow-color: rgba(0, 0, 0, 0.3);
$grey-color: rgb(128, 128, 128);
$dark-grey-color: rgb(84, 84, 84);
