@import '~antd/dist/antd.css';

body {
  overflow-y: scroll;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse !important;
}

.layout {
  &-top {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  &-content {
    padding-top: 104px;
  }

  &-adv {
    min-height: 90px;
  }
}

.main {
  > div > div {
    margin: 0 auto;
  }
}
