@import './config';

.swiper-slide-active {
  img {
    transform: scale(1.1);
    transition: transform 7s ease-in-out;
  }
}

.swiper {
  &-pagination {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    gap: 20px;

    &-bullet {
      width: 20%;
      opacity: 0.5;

      &-custom {
        max-width: 200px;
        border-radius: 5px;
        position: relative;
        background-color: $grey-color;
        height: 5px;
        opacity: 1;
        bottom: 110px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          background-color: $white-color;
          border-radius: 5px;
          height: 5px;
        }

        p {
          font-size: 16px;
          text-align: start;
          padding-top: 24px;
          margin: 0;
          color: $white-color;
          transition: color ease-out 0.3s;
        }
      }

      &-active {
        background: none;
        opacity: 1;

        .swiper-pagination-bullet-custom {
          &::before {
            // :local - for correct animation work in css modules
            & :local {
              width: 100%;
              animation: paginationLine 7s linear;
            }
          }

          @keyframes paginationLine {
            from {
              width: 0%;
            }
          }
        }
      }

      &-responsive {
        display: none;
        text-align: start;
      }
    }
  }
}
