@import '../../../styles/config';

.slide {
  height: 100%;
  line-height: 1;
  position: relative;

  &:hover {
    .gameStatsSlide {
      display: flex;
    }
  }
}

.game {
  padding: 12px 8px;
  height: 100%;
}

.gameStatsSlide {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  background-color: rgba($color: $white-color, $alpha: 0.9);
}

.gameStatsLink {
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.gameInfo {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.broadcaster {
  color: $dark-grey-color;
  text-align: end;
  font-size: 10px;
}

.teamInfo {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team {
  display: flex;
  align-items: center;
  height: 16px;
}

.logo {
  object-fit: contain;
  margin-right: 10px;
}

.teamName {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  flex: 1 1;
}

.winner {
  display: none;
  svg {
    width: 12px;
    height: 12px;
  }
}

.score {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
}

.record {
  font-size: 12px;
  color: $dark-grey-color;
}

.active {
  display: block;
}
