@import '../../styles/config';

.header {
  background-color: $main-color;
  padding: 0 12px;
}

.content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .link a,
  &:hover .dropdownLink {
    color: $transparent-white-color;
    transition: color 0.3s;
  }

  .hamburger {
    display: none;
  }
}

.logoImg {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.headerMenu {
  display: flex;
  font-size: 16px;

  .link:hover {
    a {
      color: $white-color;
    }
  }
}

.link {
  height: 64px;
  padding: 0 10px;
  cursor: pointer;

  a {
    display: inline-block;
    color: $white-color;
    height: 64px;
  }
}

.dropdownLink {
  color: $white-color;
  height: 64px;
  padding: 0 10px;
  transition: color 0.3s;

  &:hover {
    color: $white-color !important;
    cursor: pointer;
  }

  // override ant style
  & > div > div > div {
    width: 750px;
  }
}

@media (max-width: 720px) {
  .content {
    .hamburger {
      display: inline-block;
    }
  }

  .headerMenu {
    position: absolute;
    top: 154px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: $main-color;
    opacity: 0;
    z-index: 40;
    transform: translateX(-100%);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
  }

  .link {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $lightgray-color;
    a {
      color: $white-color;
    }
  }

  .dropdownLink {
    text-align: center;
    border-bottom: 1px solid $lightgray-color;
  }

  .isActive {
    transform: translateX(0);
    transition-duration: 0.3s;
    opacity: 1;
  }
}
