@import '../../../styles/config';

.teamRank {
  font-weight: 600;
  margin-right: 16px;
}

.teamImage {
  margin-right: 8px;
}

.table {
  margin-bottom: 16px;
  min-height: 120px;

  table {
    border-collapse: collapse;
  }

  tr {
    th {
      font-size: 10px;
      font-weight: 600;
    }
  }

  & :global {
    .ant-table-cell {
      padding: 12px;
      min-width: 50px !important;
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  padding-left: 0;
}

.teamShortName {
  display: none;
}

.row {
  &:nth-child(7) {
    border-bottom: 2.1px dashed $black-color;
  }

  &:nth-child(11) {
    border-bottom: 2px solid $black-color;
  }
}

@media (max-width: 1024px) {
  .table {
    & :global {
      .ant-table-cell {
        padding: 8px 6px;
      }
    }
  }
}

@media (max-width: 840px) {
  .table {
    col {
      width: 220px !important;
    }

    & :global {
      .ant-table-cell {
        padding: 8px 4px;
      }
    }
  }
}

@media (max-width: 720px) {
  .table {
    col {
      width: 110px !important;
    }
  }

  .teamRank {
    margin-right: 4px;
  }

  .teamFullName {
    display: none;
  }

  .teamShortName {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .table {
    col {
      width: 110px !important;
    }
  }

  .teamRank {
    margin-right: 4px;
  }

  .teamFullName {
    display: none;
  }

  .teamShortName {
    display: inline-block;
  }
}
