.footer {
  background: #001529;
  padding: 0;

  &-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
  }

  &-top {
    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  &-listItem {
    min-width: fit-content;
    padding: 0 12px;

    &:nth-child(5) {
      margin-left: 20%;
    }

    &-header {
      color: #fff;
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 16px !important;
      border-bottom: none !important;
    }

    &-content {
      border-bottom: none !important;
      padding: 0;
      line-height: 2.5;
    }

    &-link {
      color: #fff;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  &-divider {
    margin: 28px 0;
    border-color: rgba(255, 255, 255, 0.3);
  }

  &-bottom {
    padding: 0 12px;

    &-heading {
      color: #fff;
      font-weight: 600;
      margin-bottom: 6px;
    }

    &-legals {
      display: flex;
      flex-wrap: wrap;

      // select first 4 li elements
      & > li:nth-child(-n + 4) {
        a::after {
          content: '|';
          padding: 12px;
        }
      }
    }

    &-paragraph {
      font-size: 10px;
      color: #fff;
      margin-bottom: 6px;

      &:nth-child(3) {
        display: inline-block;
      }
    }

    &-link {
      font-size: 10px;
      color: #fff;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
