@import '../../styles/config';

.footer {
  background: $main-color;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;

  .topResponsive {
    display: none;
    background-color: $main-color;

    li {
      background-color: $main-color;

      div {
        font-weight: 600;
      }

      ul {
        background: $main-color !important;
      }
    }
  }
}

.top {
  display: block;

  ul {
    display: flex;
    justify-content: space-between;
  }
}

.listItem {
  min-width: fit-content;
  padding: 0 12px;

  &:nth-child(5) {
    margin-left: 20%;
  }

  li {
    border-bottom: none !important;
  }
}

.listItemHeader {
  color: $white-color;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 16px;
}

.listItemContent {
  padding: 0;
  line-height: 2.5;
}

.link {
  color: $white-color;

  &:hover {
    color: $white-color;
    text-decoration: underline;
  }
}

.divider {
  margin: 28px 0;
  border-color: $transparent-white-color;
}

.bottom {
  padding: 0 12px;
}

.bottomHeading {
  color: $white-color;
  font-weight: 600;
  margin-bottom: 6px;
}

.bottomLegals {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.25;

  li {
    font-size: 10px;
  }

  // select first 4 li elements
  & > li:nth-child(-n + 4) {
    a::after {
      content: '|';
      padding: 0 12px;
    }
  }
}

.bottomParagraph {
  font-size: 10px;
  color: $white-color;
  margin-top: 6px;
  margin-bottom: 0;

  &:nth-child(3) {
    display: inline-block;
  }
}

.bottomLink {
  composes: link;
  display: inline-block;
  font-size: 10px;
}

@media (max-width: 1024px) {
  .container {
    padding: 16px;

    .topResponsive {
      display: block;
    }
  }

  .top {
    display: none;
  }
}
