@import '../../styles/config';

.inner {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.carousel {
  height: 100%;
  flex-grow: 1;
  max-width: 1296px;
}

@media (max-width: 1440px) {
  .inner {
    max-width: 100vw;
  }

  .carousel {
    max-width: calc(100vw - 134px);
  }
}

@media (max-width: 420px) {
  .carousel {
    max-width: calc(100vw - 114px);
  }
}

@media (max-width: 320px) {
  .carousel {
    max-width: calc(100vw - 96px);
  }
}
