@import '~antd/dist/antd.css';

body {
  overflow-y: scroll;
}

.ant-layout {
  &-header,
  &-content,
  &-footer {
    padding: 0 200px;
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

// HEADER

.ant-layout-header {
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 45px;
}

.logo {
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);

  // float: left;
  width: 120px;
  height: 35px;

  display: flex;
  justify-content: center;
}

/////////////////////////////////

// FOOTER
.footer {
  text-align: center;
  padding: 20px 200px;
}
