@import '../../../styles/config';

.container {
  padding: 20px;
  background-color: $white-background-color;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $border-shadow-color;
}

.title {
  border-bottom: 1px solid $lightgray-color;
}

.heading {
  font-size: 16px;
  font-weight: 600;
}

.news {
  margin-top: 12px;
}

.card {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.meta {
  // select card title
  & > div > div:first-child {
    font-weight: 600;
  }
}
