.container {
  max-width: 1280px;
  margin: 24px auto;
  display: flex;
  gap: 24px;
}

.section {
  position: relative;
  min-height: 90px;
  flex-grow: 4;
}

.widgets {
  flex-grow: 1;
  max-width: 320px;
}
