.container {
  max-width: 1280px;
  display: flex;
  gap: 24px;
}

.mainWidgets {
  position: relative;
  min-height: 120px;
  height: 100%;
  flex-grow: 1;
}

.sideWidgets {
  max-width: 320px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .sideWidgets {
    max-width: none;
  }
}
